/* *{
  margin: 20px;
} */
 body {
    font-family:sans-serif;
    color: black;
    /* margin: 0px 20px ; */
    width:40%;
   padding: 200px;
  } 
   
   .contact-banner {
    background-image: linear-gradient(
      to right,
      rgb(141, 96, 182) 0%,
      rgb(4, 109, 91) 100%
    );
   
    /* margin-left: 2px; */
    color: white;
  
    padding: 20px;
    width: 250px;
    margin:0;
  } 
 
  
  
  
  p {
    font-size: 18px;
  }
  
  .contact-description {
    margin-bottom: 40px;
  }
  
  input {
    padding: 10px;
    border-radius: 5px;
    width: 280px;
    border: 1px solid rgb(0, 114, 66);
    font-size: 18px;
    outline: none;
    color: #333;
  }
  .form-control {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
 
  
  label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
 
  
  textarea {
    width: 280px;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    height: 100px;
    font-size: 18px;
  }
button {
    color: rgb(106, 27, 148);
    padding: 20px;
    border: 1px solid rgb(123, 83, 224);
    border-radius: 10px;
    background:rgb(129, 112, 174);
    /* background: none; */
    cursor: pointer;
    transition: all 0.5s;
    color: rgb(0, 114, 66);
  }
  
  button:hover {
    background-image: linear-gradient(
      to right,
      rgb(0, 114, 66) 0%,
      rgb(4, 109, 91) 100%
    );
    color: white;
  }
  
 
  
  hr {
    margin-bottom: 20px;
    margin-top: 20px;
    height: 1px;
    border: none;
    background-color: rgb(0, 114, 66);
  }  




  